APP_NAME=beauty-marketplace-api
APP_ENV=local
API_PORT=8000

DATABASE_URL=postgresql+psycopg://marketplace_user:marketplace_password@postgres:5432/marketplace_db

MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=listings

KEYCLOAK_URL=http://keycloak:8080
KEYCLOAK_REALM=marketplace
KEYCLOAK_CLIENT_ID=marketplace-web
